######################
#	   IntelliJ	     #
######################
.idea/
*.iml
*.iws
/out/

 
######################
#		 OSX		 #
######################
.DS_Store
.svn
._*

######################
#    Package Files	 #
######################
*.jar
*.class

